<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head th:insert="/header_footer.html :: head"></head>

<body
	style="color: rgb(255, 255, 255); font-family: Oswald, sans-serif; background: rgb(0, 0, 0);">
	<header th:insert="/header_footer.html :: header"> </header>
	<section
		class="d-lg-flex justify-content-lg-center align-items-lg-center">
		<div class="container">
			<div class="row">
				<div class="col-3" style="width: 180px;">
					<div style="text-align: center; margin: 5px;">
            			<form th:action="@{/account/name}" th:object="${user}" method="post">
		            		<input class="form-control" type="hidden" th:field="*{email}" id="name">
							<button class="btn btn-primary" type="submit" value="changeName" style="background: rgb(0, 72, 3);">Change Name</button>
						</form>
					</div>
					<div style="text-align: center; margin: 5px;">
            			<form th:action="@{/account/email}" th:object="${user}" method="post">
		            		<input class="form-control" type="hidden" th:field="*{email}" id="email">
							<button class="btn btn-primary" type="submit" value="changeEmail" style="background: rgb(0, 72, 3);">Change Email</button>
						</form>
					</div>
					<div style="text-align: center; margin: 5px;">
            			<form th:action="@{/account/password}" th:object="${user}" method="post">
		            		<input class="form-control" type="hidden" th:field="*{email}" id="password1">
							<button class="btn btn-primary" type="submit" value="changePassword" style="background: rgb(51, 102, 255);">Change Password</button>
						</form>
					</div>
					<div style="text-align: center;">
            			<form th:action="@{/account/delete}" th:object="${user}" method="post">
		            		<input class="form-control" type="hidden" th:field="*{email}" id="delete1">
							<button class="btn btn-primary" type="submit" value="deleteAccount" style="background: rgb(255, 0, 0);">Delete Account</button>
						</form>
					</div>
				</div>
				<div class="col">
					<div class="table-responsive"
						style="background: #000000; border-color: rgb(255, 255, 255); border-top-color: rgb(255, 255, 255); border-bottom-color: (255, 255, 255); border-left-color: (255, 255, 255);">
						<table class="table">
							<thead style="color: rgb(255, 255, 255);">
								<tr>
									<th style="width: 145px;">Email</th>
									<th style="width: 300px;">Comment</th>
									<th style="width: 64px;">Rating</th>
									<th>Link to Part</th>
								</tr>
							</thead>
							<tbody style="color: rgb(255, 255, 255);">
								<tr>
									<td>Cell 1</td>
									<td>Cell 2</td>
									<td>Cell 3</td>
									<td>Cell 4</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script th:inline="javascript">
	var email = sessionStorage.getItem("email");
		if (email !== null) {
			document.getElementById("name").value = email;
			document.getElementById("email").value = email;
			document.getElementById("password1").value = email;
			document.getElementById("delete1").value = email;
		}
		
		/*
		function changeName() {
			console.log("/account/name");
		}
		function changeEmail() {
			console.log("/account/email");
			postCall(data, "/account/email");
		}
		function changePassword() {
			console.log("/account/password");
			postCall(data, "/account/password");
		}
		function deleteAccount() {
			console.log("/account/delete");
			postCall(data, "/account/delete");
		}
		*/
	</script>
    <div th:insert="/header_footer.html :: bootstrap_min"></div>
</body>

</html>