<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PC2</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="css/Navigation-Clean.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body style="color: rgb(255,255,255);font-family: Oswald, sans-serif;background: rgb(0,0,0);">
	<header th:insert="/header_footer.html :: header"> </header>
    <section>
        <div>
            <h1 style="text-align: center;color: rgb(255,255,255);background: #000000;margin-bottom: 15px;">Create Build</h1>
        </div>
    </section>
    <section>
        <div class="container" style="width: 696px;">
            <p style="text-align: center;">Begin by clicking one of the buttons on the left-hand side of the page. You will be taken to a list of parts in that respective category. Browse the parts and make a selection from available parts. Once you've selected all the parts you'd like included in your build, using the Check Compatibility feature will prompt PC Builder to notify you of any incompatibilities present in the build.&nbsp;<br><br>Not sure which part to pick? You can always save your build for a later time, or share your build to a friend.&nbsp; <br><br>Get started now!</p>
        </div>
    </section>
    <section class="d-xl-flex justify-content-xl-center align-items-xl-center" style="margin: 25px;">
        <div class="container d-lg-flex flex-shrink-1" style="color: rgb(255,255,255);background: #000000;width: 671px;">
            <div class="row d-lg-flex justify-content-lg-center" style="background: #000000;width: 721.375px;">
                <div class="col d-lg-flex justify-content-lg-center"><button class="btn btn-primary" type="button" style="background: rgb(0,72,3);">Save Build</button></div>
                <div class="col d-lg-flex justify-content-lg-center"><button class="btn btn-primary" type="button" style="background: rgb(69,9,116);">Check Compatibility</button></div>
                <div class="col d-lg-flex justify-content-lg-center"><button class="btn btn-primary" type="button" style="background: rgb(0,46,115);">Share Build</button></div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="table-responsive" style="border-color: rgb(255, 255, 255);">
                <table class="table">
                    <thead style="color: rgb(255,255,255);">
                        <tr>
                            <th class="text-center" style="width: 205px;border-color: rgb(255,255,255);">Select Part</th>
                            <th class="text-center" style="border-color: rgb(255,255,255);">Part Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border-color: rgb(255,255,255);">1<button class="btn btn-primary" type="button" style="background: rgb(0,46,115);border-color: rgb(0,46,115);width: 169.391px;" onclick="window.location='product?category=cpu'">Select CPU</button></td>
                            <td style="border-color: rgb(255,255,255);color: rgb(255,255,255);">Cell 2</td>
                        </tr>
                        <tr>
                            <td style="border-color: rgb(255,255,255);">1<button class="btn btn-primary" type="button" style="background: rgb(0,46,115);border-color: rgb(0,46,115);width: 169.391px;" onclick="window.location='product?category=os'">Select OS</button></td>
                            <td style="border-color: rgb(255,255,255);color: rgb(255,255,255);">Cell 4</td>
                        </tr>
                        <tr>
                            <td style="border-color: rgb(255,255,255);">1<button class="btn btn-primary" type="button" style="background: rgb(0,46,115);border-color: rgb(0,46,115);width: 169.391px;" onclick="window.location='product?category=motherboard'">Select Motherboard</button></td>
                            <td style="border-color: rgb(255,255,255);color: rgb(255,255,255);">Cell 6</td>
                        </tr>
                        <tr>
                            <td style="border-color: rgb(255,255,255);">1<button class="btn btn-primary" type="button" style="background: rgb(0,46,115);border-color: rgb(0,46,115);width: 169.391px;" onclick="window.location='product?category=memory'">Select Memory</button></td>
                            <td style="border-color: rgb(255,255,255);color: rgb(255,255,255);">Cell 8</td>
                        </tr>
                        <tr>
                            <td style="border-color: rgb(255,255,255);">1<button class="btn btn-primary" type="button" style="background: rgb(0,46,115);border-color: rgb(0,46,115);width: 169.391px;" onclick="window.location='product?category=internal+harddrive'">Select Storage</button></td>
                            <td style="border-color: rgb(255,255,255);color: rgb(255,255,255);">Cell 10</td>
                        </tr>
                        <tr>
                            <td style="border-color: rgb(255,255,255);">1<button class="btn btn-primary" type="button" style="background: rgb(0,46,115);border-color: rgb(0,46,115);width: 169.391px;" onclick="window.location='product?category=video+card'">Select Video Card</button></td>
                            <td style="border-color: rgb(255,255,255);color: rgb(255,255,255);">Cell 12</td>
                        </tr>
                        <tr>
                            <td style="border-color: rgb(255,255,255);">1<button class="btn btn-primary" type="button" style="background: rgb(0,46,115);border-color: rgb(0,46,115);width: 169.391px;" onclick="window.location='product?category=power+supply'">Select Power Supply</button></td>
                            <td style="border-color: rgb(255,255,255);color: rgb(255,255,255);">Cell 14</td>
                        </tr>
                        <tr>
                            <td style="border-color: rgb(255,255,255);">1<button class="btn btn-primary" type="button" style="background: rgb(0,46,115);border-color: rgb(0,46,115);width: 169.391px;" onclick="window.location='product?category=optical+drive'">Select Optical Drive</button></td>
                            <td style="border-color: rgb(255,255,255);color: rgb(255,255,255);">Cell 16</td>
                        </tr>
                        <tr>
                            <td style="border-color: rgb(255,255,255);">1<button class="btn btn-primary" type="button" style="background: rgb(0,46,115);border-color: rgb(0,46,115);width: 169.391px;" onclick="window.location='product?category=cpu+cooler'">Select CPU Cooler</button></td>
                            <td style="border-color: rgb(255,255,255);color: rgb(255,255,255);">Cell 18</td>
                        </tr>
                        <tr>
                            <td style="border-color: rgb(255,255,255);">1<button class="btn btn-primary" type="button" style="background: rgb(0,46,115);border-color: rgb(0,46,115);width: 169.391px;" onclick="window.location='product?category=monitor'">Select Monitor</button></td>
                            <td style="border-color: rgb(255,255,255);color: rgb(255,255,255);">Cell 20</td>
                        </tr>
                        <tr>
                            <td style="border-color: rgb(255,255,255);">1<button class="btn btn-primary" type="button" style="background: rgb(0,46,115);border-color: rgb(0,46,115);width: 169.391px;" onclick="window.location='product?category=pc+case'">Select Case</button></td>
                            <td style="border-color: rgb(255,255,255);color: rgb(255,255,255);">Cell 22</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>