<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header_footer_files">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PC2</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="css/Navigation-Clean.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
     <div th:fragment="header">
      <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgb(0,0,0);color: rgb(255,255,255);">
        <div class="container">
        <a class="navbar-brand" href="#" style="font-family: Oswald, sans-serif;"><img src="img/a0b23abd86f54c589f8e706e0c3671c8.png" style="width: 125px;height: 125px;" onclick="window.location='/'"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="build1" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;">CREATE BUILD</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;">MY BUILDS</a></li>
                    <li class="nav-item dropdown">
                    	<a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="/account1" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;">ACCOUNT</a>
                        <div class="dropdown-menu" style="color: rgb(255,255,255);background: rgb(0,0,0);">
	                        <a class="dropdown-item" href="#" style="color: rgb(255,255,255);font-family: Oswald, sans-serif;"></a>
	                        <a class="dropdown-item" href="/login" style="color: rgb(255,255,255);font-family: Oswald, sans-serif;">LOGIN</a>
	                        <a class="dropdown-item" href="/register" style="color: rgb(255,255,255);font-family: Oswald, sans-serif;">REGISTER</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </div>

    <footer class="container">
        <p>&copy; Group 404</p>
        </footer>
</body>
</html>
