<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PC2</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet"  th:href="@{/css/Navigation-Clean.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
     <header th:fragment="header">
      <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgb(0,0,0);color: rgb(255,255,255);">
        <div class="container">
        <a class="navbar-brand" href="#" style="font-family: Oswald, sans-serif;"><img th:src="@{/img/a0b23abd86f54c589f8e706e0c3671c8.png}" style="width: 125px;height: 125px;" onclick="window.location='/'"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto" id="navBarUl">
                    <li class="nav-item"><a class="nav-link" href="/build" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;">CREATE BUILD</a></li>
                </ul>
            </div>
			<div class="d-flex flex-row-reverse" id="accountManagement">
			
			  </div>
        </div>
    </nav>
     <script th:inline="javascript">
		var elem = document.getElementById('accountManagement');
		var elem2 = document.getElementById('navBarUl');
     if(sessionStorage.getItem("email") !== null){
    	 elem2.innerHTML += '<li class="nav-item"><a class="nav-link" href="/myBuild" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;">MY BUILDS</a></li>';
 		elem.innerHTML += '<a class="nav-link" href="/logout" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;">LOGOUT</a>';
 		elem.innerHTML += '<a class="nav-link" href="/account" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;">MANAGE ACCOUNT</a>';
     }else{
 		elem.innerHTML += '<a class="nav-link" href="/login" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;">LOGIN</a>';
     }
		elem.innerHTML += '<a class="nav-link" href="/register" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;">REGISTER</a>';
		
     </script>
    </header>
    
    
    <footer th:fragment="footer" class="d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 275px;margin-top: 100px;">
        <div class="container" style="padding-top: 0px;">
            <div class="row">
                <div class="col-md-4 text-center d-xl-flex flex-column justify-content-xl-center align-items-lg-center"><img src="img/a0b23abd86f54c589f8e706e0c3671c8.png" style="width: 75px;">
                    <p style="font-size: 15px;">PC Builder is designed to help computer enthusiasts of every skillset plan their future builds. With more options available than ever before, we aim to help you make informed decisions&nbsp; you can feel good about.</p>
                </div>
                <div class="col-md-4 text-center">
                    <ul class="nav nav-tabs d-lg-flex flex-column ms-auto justify-content-lg-center align-items-lg-center" id="col1" style="height: 165px;border-style: none;">

                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="nav nav-tabs d-lg-flex flex-column ms-auto justify-content-lg-center align-items-lg-center" id="col2" style="height: 165px;border-style: none;">
                    
                    </ul>
                </div>
            </div>
        </div>
        
     <script th:inline="javascript">
		var elem = document.getElementById('col1');
		var elem2 = document.getElementById('col2');
	     if(sessionStorage.getItem("email") !== null){
             elem.innerHTML += '<li class="nav-item"><a class="nav-link " href="/build" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;border-style: none;">CREATE BUILD</a></li>';
             elem.innerHTML += '<li class="nav-item"><a class="nav-link" href="/myBuild" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;border-style: none;">MY BUILDS</a></li>';
             elem2.innerHTML += '<li class="nav-item"><a class="nav-link" href="/account" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;border-style: none;">MANAGE ACCOUNT</a></li>';
             elem2.innerHTML += '<li class="nav-item"><a class="nav-link" href="/logout" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;border-style: none;">LOGOUT</a></li>';
	     }else{
             elem.innerHTML += '<li class="nav-item"><a class="nav-link " href="/build" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;border-style: none;">CREATE BUILD</a></li>';
             elem2.innerHTML += '<li class="nav-item"><a class="nav-link" href="/register" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;border-style: none;">REGISTER</a></li>';
             elem2.innerHTML += '<li class="nav-item"><a class="nav-link" href="/login" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;border-style: none;">LOGIN</a></li>';
	     }
     </script>
    </footer>
    
    <div th:fragment="bootstrap_min">
    	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    </div>
</body>
</html>
