<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PC2</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="css/Navigation-Clean.css">
    <link rel="stylesheet" href="css/styles.css">
	<!--/*/ <th:block th:include="/header_footer.html :: header_footer_files">
        </th:block> /*/-->
</head>

<body style="color: rgb(255,255,255);font-family: Oswald, sans-serif;background: rgb(0,0,0);">
	<header th:insert="/header_footer.html :: header"> </header>
    <section class="d-lg-flex justify-content-lg-center align-items-lg-center">
        <div class="container d-lg-flex justify-content-lg-center align-items-lg-center" style="background: url(&quot;img/gaming-system-1472951.jpg&quot;);height: 394px;">
            <div class="row text-center d-lg-flex justify-content-lg-center align-items-lg-center">
                <div class="col">
                    <h1 style="padding: 10px;">PC Builder</h1>
                    <div class="row">
                        <div class="col">
                            <h1 style="font-size: 15.880000000000004px;color: rgb(214,214,214);" >Create and compare your dream setup</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><button class="btn btn-primary" type="button" style="color: rgb(255,255,255);background: rgb(0,0,0);border-color: rgb(255,255,255);margin: 18px;" onclick="window.location='build1'">CREATE BUILD</button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h1 style="margin-top: 20px;text-align: center;">Make your dream setup today</h1>
            <h1 style="font-size: 14px;font-weight: normal;font-style: normal;text-align: center;color: rgb(181,181,181);">With PC Builder, you can model your build prioritizing cost and performance, while ensuring that the parts you've selected are compatible!</h1>
        </div>
    </section>
    <section>
        <div class="container" style="margin-top: 25px;">
            <div class="row">
                <div class="col-md-6">
                    <p style="color: rgb(181,181,181);">PC Builder is designed to allow a user the ability to design their entire custom PC build from start to finish. With the ability to create a build and individually select each part, the most adept users will quickly find that they're able to create a PC to suit their needs, fast.</p>
                </div>
                <div class="col-md-6">
                    <p style="color: rgb(181,181,181);">First time building a PC? No problem! With PC Builder's Compatibility Checker, you're able to select the parts you'd like based on criteria that's important to you, and be sure that at each step of the process, you're building a machine that works for you.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center" style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-start d-xl-flex justify-content-xl-center"><img class="d-xl-flex justify-content-xl-center" src="img/pexels-christina-morillo-1181673.jpg" width="350"></div>
                <div class="col-md-4 d-xl-flex justify-content-xl-center"><img src="img/pexels-harsch-shivam-2007647.jpg" width="350" height="550"></div>
                <div class="col-md-4 d-xl-flex justify-content-xl-center"><img src="img/andy-holmes-EOAKUQcsFIU-unsplash.jpg" width="350"></div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-4">
                    <h1>Work.</h1>
                </div>
                <div class="col-md-4">
                    <h1>Play.</h1>
                </div>
                <div class="col-md-4">
                    <h1>Dream.</h1>
                </div>
            </div>
        </div>
    </section>
    <footer class="d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 275px;margin-top: 100px;">
        <div class="container" style="padding-top: 0px;">
            <div class="row">
                <div class="col-md-4 text-center d-xl-flex flex-column justify-content-xl-center align-items-lg-center"><img src="img/a0b23abd86f54c589f8e706e0c3671c8.png" style="width: 75px;">
                    <p style="font-size: 15px;">PC Builder is designed to help computer enthusiasts of every skillset plan their future builds. With more options available than ever before, we aim to help you make informed decisions&nbsp; you can feel good about.</p>
                </div>
                <div class="col-md-4 text-center">
                    <ul class="nav nav-tabs d-lg-flex flex-column ms-auto justify-content-lg-center align-items-lg-center" style="height: 165px;border-style: none;">
                        <li class="nav-item"><a class="nav-link " href="#" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;border-style: none;">CREATE BUILD</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;border-style: none;">MY BUILDS</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="nav nav-tabs d-lg-flex flex-column ms-auto justify-content-lg-center align-items-lg-center" style="height: 165px;border-style: none;">
                        <li class="nav-item"><a class="nav-link" href="#" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;border-style: none;">MANAGE ACCOUNT</a></li>
                        <li class="nav-item"><a class="nav-link" href="#" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;border-style: none;">LOGIN/LOGOUT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>