<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PC2</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="css/Navigation-Clean.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body style="color: rgb(255,255,255);font-family: Oswald, sans-serif;background: rgb(0,0,0);">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background: rgb(0,0,0);color: rgb(255,255,255);">
        <div class="container"><a class="navbar-brand" href="#" style="font-family: Oswald, sans-serif;"><img src="img/a0b23abd86f54c589f8e706e0c3671c8.png" style="width: 125px;height: 125px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;">CREATE BUILD</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;">MY BUILDS</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="background: #000000;color: rgb(255,255,255);font-family: Oswald, sans-serif;">ACCOUNT</a>
                        <div class="dropdown-menu" style="color: rgb(255,255,255);background: rgb(0,0,0);"><a class="dropdown-item" href="#" style="color: rgb(255,255,255);font-family: Oswald, sans-serif;"></a><a class="dropdown-item" href="#" style="color: rgb(255,255,255);font-family: Oswald, sans-serif;">LOGIN</a><a class="dropdown-item" href="#" style="color: rgb(255,255,255);font-family: Oswald, sans-serif;">REGISTER</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <h1 class="text-center" style="margin-bottom: 25px;">Login</h1>
    </section>
    <section>
        <div class="container" style="width: 185px;">
            <form action="#" th:action="@{/login}" th:object="${user}" method="post" style="text-align: left; ">
	            <label class="form-label">Email</label>
	            <input class="form-control" type="text" th:field="*{email}" placeholder="email@host.com" style="margin-bottom: 10px;">
	            <label class="form-label">Password</label>
	            <input class="form-control" type="password" th:field="*{password}" placeholder="password">
	            <button class="btn btn-primary" type="submit" value="Login" style="background: rgb(0,46,115);border-color: rgb(0,46,115);">Login</button>
	        </form>
        </div>
    </section>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>