<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head th:insert="/header_footer.html :: head"></head>

<body style="color: rgb(255,255,255);font-family: Oswald, sans-serif;background: rgb(0,0,0);">
	<header th:insert="/header_footer.html :: header"> </header>
    <section>
        <h1 class="text-center" style="margin-bottom: 25px;">Login</h1>
    </section>
    <section>
        <div class="container" style="width: 185px;">
            <form action="#" th:action="@{/login}" th:object="${user}" method="post" style="text-align: left; ">
	            <label class="form-label">Email</label>
	            <input class="form-control" type="text" th:field="*{email}" placeholder="email@host.com" style="margin-bottom: 10px;">
	            <label class="form-label">Password</label>
	            <input class="form-control" type="password" th:field="*{password}" placeholder="password">
	            <button class="btn btn-primary" type="submit" value="Login" style="background: rgb(0,46,115);border-color: rgb(0,46,115); margin-top: 25px;" >Login</button>
	        </form>
        </div>
    </section>
    <div th:insert="/header_footer.html :: bootstrap_min"></div>
</body>

</html>