<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PC2</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="css/Navigation-Clean.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body style="color: rgb(255,255,255);font-family: Oswald, sans-serif;background: rgb(0,0,0);">
    <header th:insert="/header_footer.html :: header"> </header>
    <section style="text-align: center;">
        <div class="container">
            <h1 style="margin-bottom: 40px;">My Builds</h1>
        </div>
    </section>
    <section class="d-lg-flex justify-content-lg-center align-items-lg-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead style="color: rgb(255,255,255);">
                                    <tr>
                                        <th style="text-align: center;">Build #1</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="color: rgb(255,255,255);">
                                        <td style="text-align: center;">Build goes here</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead style="color: rgb(255,255,255);">
                                    <tr>
                                        <th style="text-align: center;">Build #2</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="color: rgb(255,255,255);">
                                        <td style="text-align: center;">Build goes here</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead style="color: rgb(255,255,255);">
                                    <tr>
                                        <th style="text-align: center;">Build #3</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="color: rgb(255,255,255);">
                                        <td style="text-align: center;">Build goes here</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>