<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head th:insert="/header_footer.html :: head"></head>

<body style="color: rgb(255,255,255);font-family: Oswald, sans-serif;background: rgb(0,0,0);">
    <header th:insert="/header_footer.html :: header"> </header>
    <section style="text-align: center;">
        <div class="container">
            <h1 style="margin-bottom: 40px;">My Builds</h1>
        </div>
    </section>
    <section class="d-lg-flex justify-content-lg-center align-items-lg-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <h1 style="text-align: center;">Build #1</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead style="color: rgb(255,255,255);">
                                    <tr>
                                        <th style="width: 105px;">Part</th>
                                        <th>Selection</th>
                                    </tr>
                                </thead>
                                <tbody style="color: rgb(255,255,255);">
                                    <tr>
                                        <td>CPU</td>
                                        <td>Cell 2</td>
                                    </tr>
                                    <tr>
                                        <td>OS</td>
                                        <td>Cell 4</td>
                                    </tr>
                                    <tr>
                                        <td>Motherboard</td>
                                        <td>Cell 6</td>
                                    </tr>
                                    <tr>
                                        <td>Memory</td>
                                        <td>Cell 8</td>
                                    </tr>
                                    <tr>
                                        <td>Storage</td>
                                        <td>Cell 10</td>
                                    </tr>
                                    <tr>
                                        <td>Video Card</td>
                                        <td>Cell 12</td>
                                    </tr>
                                    <tr>
                                        <td>Power Supply</td>
                                        <td>Cell 14</td>
                                    </tr>
                                    <tr>
                                        <td>Optical Drive</td>
                                        <td>Cell 16</td>
                                    </tr>
                                    <tr>
                                        <td>CPU Cooler</td>
                                        <td>Cell 18</td>
                                    </tr>
                                    <tr>
                                        <td>Monitor</td>
                                        <td>Cell 20</td>
                                    </tr>
                                    <tr>
                                        <td>Case</td>
                                        <td>Cell 22</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <h1 style="text-align: center;">Build #2</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead style="color: rgb(255,255,255);">
                                    <tr>
                                        <th style="width: 105px;">Part</th>
                                        <th>Selection</th>
                                    </tr>
                                </thead>
                                <tbody style="color: rgb(255,255,255);">
                                    <tr>
                                        <td>CPU</td>
                                        <td>Cell 2</td>
                                    </tr>
                                    <tr>
                                        <td>OS</td>
                                        <td>Cell 4</td>
                                    </tr>
                                    <tr>
                                        <td>Motherboard</td>
                                        <td>Cell 6</td>
                                    </tr>
                                    <tr>
                                        <td>Memory</td>
                                        <td>Cell 8</td>
                                    </tr>
                                    <tr>
                                        <td>Storage</td>
                                        <td>Cell 10</td>
                                    </tr>
                                    <tr>
                                        <td>Video Card</td>
                                        <td>Cell 12</td>
                                    </tr>
                                    <tr>
                                        <td>Power Supply</td>
                                        <td>Cell 14</td>
                                    </tr>
                                    <tr>
                                        <td>Optical Drive</td>
                                        <td>Cell 16</td>
                                    </tr>
                                    <tr>
                                        <td>CPU Cooler</td>
                                        <td>Cell 18</td>
                                    </tr>
                                    <tr>
                                        <td>Monitor</td>
                                        <td>Cell 20</td>
                                    </tr>
                                    <tr>
                                        <td>Case</td>
                                        <td>Cell 22</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <h1 style="text-align: center;">Build #3</h1>
                        <div class="table-responsive">
                            <table class="table">
                                <thead style="color: rgb(255,255,255);">
                                    <tr>
                                        <th style="width: 105px;">Part</th>
                                        <th>Selection</th>
                                    </tr>
                                </thead>
                                <tbody style="color: rgb(255,255,255);">
                                    <tr>
                                        <td>CPU</td>
                                        <td>Cell 2</td>
                                    </tr>
                                    <tr>
                                        <td>OS</td>
                                        <td>Cell 4</td>
                                    </tr>
                                    <tr>
                                        <td>Motherboard</td>
                                        <td>Cell 6</td>
                                    </tr>
                                    <tr>
                                        <td>Memory</td>
                                        <td>Cell 8</td>
                                    </tr>
                                    <tr>
                                        <td>Storage</td>
                                        <td>Cell 10</td>
                                    </tr>
                                    <tr>
                                        <td>Video Card</td>
                                        <td>Cell 12</td>
                                    </tr>
                                    <tr>
                                        <td>Power Supply</td>
                                        <td>Cell 14</td>
                                    </tr>
                                    <tr>
                                        <td>Optical Drive</td>
                                        <td>Cell 16</td>
                                    </tr>
                                    <tr>
                                        <td>CPU Cooler</td>
                                        <td>Cell 18</td>
                                    </tr>
                                    <tr>
                                        <td>Monitor</td>
                                        <td>Cell 20</td>
                                    </tr>
                                    <tr>
                                        <td>Case</td>
                                        <td>Cell 22</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:inline="javascript">
	if(sessionStorage.getItem("email") !== null){
		console.log(sessionStorage.getItem("email"));
		//var elem = document.getElementById('cpuId');
		//var elem2 = document.getElementById('osId');
	}
    </script>
    <div th:insert="/header_footer.html :: bootstrap_min"></div>
</body>

</html>