<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head th:insert="/header_footer.html :: head"></head>

<body style="color: rgb(255, 255, 255); font-family: Oswald, sans-serif; background: rgb(0, 0, 0);">
	<header th:insert="/header_footer.html :: header"> </header>
	<section>
		<div>
			<h1
				style="text-align: center; color: rgb(255, 255, 255); background: #000000;">Part
				List</h1>
		</div>
	</section>
	<section
		class="d-xl-flex justify-content-xl-center align-items-xl-center"
		style="margin: 25px;" th:insert="/pagination.html :: sort-by">
	</section>
	<section th:insert="/pagination.html :: page-buttons-top"></section>
	<section>
		<div class="container">
			<div class="table-responsive">
				<table class="table" id="tbl_body">
					<thead style="color: rgb(255, 255, 255);">
						<tr>
							<th style="width: 78px; padding-left: 15px;">Add</th>
							<th style="width: 277px;">Name</th>
							<th>BD</th>
                            <th>DVD</th>
                            <th>CD</th>
                            <th>BD Write</th>
                            <th>DVD Write</th>
                            <th>CD Write</th>
                            <th>Price</th>
						</tr>
					</thead>
					<tbody style="color: rgb(255, 255, 255);" id="tbl_body">

					</tbody>
				</table>
				<script th:inline="javascript">
					var partList = /*[[${partList}]]*/"";

					addMoreRows();
					function addPartToBuild(partIndex){
						sessionStorage.setItem("osType", partList[partIndex].osType);
						sessionStorage.setItem("buildId", 450101);
						console.log(sessionStorage.getItem("osType"));
						//document.getElementById("button" + partIndex).setDisabled ?
						$(document).ready(function(){
				            $.ajax({
				                url:'/product/osType',
				                type:'POST',
				                data:{'osType': partList[partIndex].osType, 'email':sessionStorage.getItem("email"), 'buildId':sessionStorage.getItem("buildId")},
				                success:function(response){
									//console.log(response);	
				                }
				            });
				});
					}
					function addMoreRows() {
						for (var x = 0; x < partList.length; x++) {
							var newRow = document.getElementById('tbl_body')
									.insertRow();
							var newCell = newRow.insertCell();
							newCell.innerHTML = "<td><button class='btn btn-primary text-center' onclick='addPartToBuild("+x+")' id='button"+x+"' type='button' style='width: 37.391px;height: 35px;'>+</button></td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>"
									+ partList[x].product.productName + "</td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>" + partList[x].bd
									+ "</td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>" + partList[x].dvd
									+ "</td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>" + partList[x].cd
									+ "</td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>" + partList[x].bdWrite
									+ "</td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>" + partList[x].dvdWrite
									+ "</td>";
								
							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>" + partList[x].cdWrite
									+ "</td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>$ "
									+ partList[x].product.productPrice + "</td>";

						}
					}
					
				</script>
			</div>
		</div>
	</section>
	
	<section th:insert="/pagination.html :: page-buttons-bottom"></section>
</body>

</html>