<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head th:insert="/header_footer.html :: head"></head>

<body style="color: rgb(255, 255, 255); font-family: Oswald, sans-serif; background: rgb(0, 0, 0);">
	<header th:insert="/header_footer.html :: header"> </header>
	<section>
		<div>
			<h1
				style="text-align: center; color: rgb(255, 255, 255); background: #000000;">Part
				List</h1>
		</div>
	</section>
	<section
		class="d-xl-flex justify-content-xl-center align-items-xl-center"
		style="margin: 25px;" th:insert="/pagination.html :: sort-by">
	</section>
	<section th:insert="/pagination.html :: page-buttons-top"></section>
	<section>
		<div class="container">
			<div class="table-responsive">
				<table class="table" id="tbl_body">
					<thead style="color: rgb(255, 255, 255);">
						<tr>
							<th style="width: 78px; padding-left: 15px;">Add</th>
							<th style="width: 277px;">Name</th>
							<th>Socket</th>
							<th>Form Factor</th>
							<th>Ram Gen</th>
							<th>Memory Slots</th>
							<th>Color</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody style="color: rgb(255, 255, 255);" id="tbl_body">

					</tbody>
				</table>
				<label id="errorLabel"></label>
				<script th:inline="javascript">
					var partList = /*[[${partList}]]*/"";

					addMoreRows();
					function addPartToBuild(partIndex){
						sessionStorage.setItem("ramSlots", partList[partIndex].socketType);
						sessionStorage.setItem("ramSlots", partList[partIndex].ramGen);
						sessionStorage.setItem("ramSlots", partList[partIndex].formFactor);
						sessionStorage.setItem("buildId", 450101);
						console.log(sessionStorage.getItem("ramSlots"));
						//document.getElementById("button" + partIndex).setDisabled ?
						$(document).ready(function(){
				            $.ajax({
				                url:'/product/ramSlots',
				                type:'POST',
				                data:{'socketType': partList[partIndex].socketType, 'ramGen': partList[partIndex].ramGen, 'formFactor': partList[partIndex].formFactor, 'email':sessionStorage.getItem("email"), 'buildId':sessionStorage.getItem("buildId")},
				                success:function(response){
									//console.log(response);	
				                }
				            });
				});
					}
					function addMoreRows() {
						var error = document.getElementById('errorLabel');
						if(partList.length == 0)
						{
							error.style.display = "inline";
							error.innerHTML = 'Other parts in your build are incompatible with all motherboards we have, please reconsider any CPUs, CPU coolers, memory, or cases you have added to your build.';
						}
						else {
							error.style.display = "none";
						}
						
						for (var x = 0; x < partList.length; x++) {
							var newRow = document.getElementById('tbl_body')
									.insertRow();
							var newCell = newRow.insertCell();
							newCell.innerHTML = "<td><button class='btn btn-primary text-center' onclick='addPartToBuild("+x+")' id='button"+x+"' type='button' style='width: 37.391px;height: 35px;'>+</button></td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>"
									+ partList[x].product.productName + "</td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>" + partList[x].socketType
									+ "</td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>" + partList[x].formFactor
									+ "</td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>" + partList[x].ramGen
									+ "</td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>" + partList[x].ramSlots
									+ "</td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>" + partList[x].color
									+ "</td>";

							newCell = newRow.insertCell();
							newCell.innerHTML = "<td>$ "
									+ partList[x].product.productPrice + "</td>";

						}
					}
					
				</script>
			</div>
		</div>
	</section>
	
	<section th:insert="/pagination.html :: page-buttons-bottom"></section>
</body>

</html>