<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PC2</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="color: rgb(255,255,255);font-family: Oswald, sans-serif;background: rgb(0,0,0);">
	<header th:insert="/header_footer.html :: header"> </header>
    <section>
        <h1 class="text-center" style="margin-bottom: 25px;">Register Failed</h1>
    </section>
    <section>
        <div class="container" style="width: 276px;">
			<form method="get" action="/">
				<button class="btn btn-primary" type="submit" value="Go to Home" style="text-align: center;background: rgb(102,3,3);border-color: rgb(102,3,3);">Go to Home</button>
        	</form>
        </div>
    </section>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>