<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title> PC Builder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!--/*/ <th:block th:include="/header_footer.html :: header_footer_files">
        </th:block> /*/-->
    <link href="/css/signup_password_validation.css" rel="stylesheet">
</head>
<body>
	<header th:insert="/header_footer.html :: header"> </header>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
            </div>
        </div>
        
        <div class="container">
            <div class="row">
	            <div class="col">
					<h1>Create account</h1>
				    <form action="#" th:action="@{/signup}" th:object="${user}" method="post">
				    	<p>Email: <input type="text" placeholder="email@host.com" th:field="*{email}" /></p>
				    	<p>First Name: <input type="text" placeholder="" th:field="*{firstName}" /></p>
				    	<p>Last Name: <input type="text" placeholder="" th:field="*{lastName}" /></p>
					    <label for="psw">Password</label>
					    <input type="password" id="psw" name="psw" th:field="*{password}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
					    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
					    required class="invalid">
				    	<p>Password (again) <input type="password" id="passwordAgain" name="passwordAgain" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/></p>
				        <p><input type="submit" value="Signup" /></p>
				    </form>
				</div>
	            <div class="col col-lg-2">
	            <div class="message">
				  <h3>Password must contain the following:</h3>
				  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
				  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
				  <p id="number" class="invalid">A <b>number</b></p>
				  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
				  </div>
	            </div>
            </div>
        </div>
    </main>
	<header th:insert="/header_footer.html :: footer"> </header>
    <script src="/js/signup_password_validation.js"></script>
</body>
</html>