<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head th:insert="/header_footer.html :: head"></head>

<body style="color: rgb(255,255,255);font-family: Oswald, sans-serif;background: rgb(0,0,0);">
	<header th:insert="/header_footer.html :: header"> </header>
    <section>
        <h1 class="text-center" style="margin-bottom: 25px;">Change Successful</h1>
    </section>
    <section>
        <div class="container" style="width: 185px;">
            <form method="get" action="/account">
				<button class="btn btn-primary" type="submit" value="Return to Account" style="text-align: center;background: rgb(102,3,3);border-color: rgb(102,3,3);">Return to Account</button>
        	</form>
        </div>
    </section>
    <div th:insert="/header_footer.html :: bootstrap_min"></div>
</body>

</html>