<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head th:insert="/header_footer.html :: head"></head>

<body style="color: rgb(255,255,255);font-family: Oswald, sans-serif;background: rgb(0,0,0);">
	<header th:insert="/header_footer.html :: header"> </header>
    <section>
        <h1 class="text-center" style="margin-bottom: 25px;" th:text="'Logged in as ' + ${firstName} + ' ' + ${lastName}"></h1>
    </section>
    <section>
        <div class="container text-center" style="width: 715px;">
            <form method="get" action="/">
				<button class="btn btn-primary" type="submit" value="Go to Home" style="text-align: center;background: rgb(102,3,3);border-color: rgb(102,3,3);">Go to Home</button>
        	</form>
        </div>
    </section>
    <script th:inline="javascript">
    	sessionStorage.setItem("email", /*[[${email}]]*/);
    	sessionStorage.setItem("firstName", /*[[${firstName}]]*/);
    	sessionStorage.setItem("lastName", /*[[${lastName}]]*/);
    	sessionStorage.setItem("lastName", /*[[${lastName}]]*/);
    	

    	sessionStorage.setItem("buildId", 450101);
    	sessionStorage.setItem("osType", "");
    	sessionStorage.setItem("socketType", "");
    	sessionStorage.setItem("formFactor", "");
    	sessionStorage.setItem("ramGen", "");
    	sessionStorage.setItem("ramSlots", 0);
    	sessionStorage.setItem("totalTdip", 0);
    	sessionStorage.setItem("cpuTdp", 0);
    	sessionStorage.setItem("videoCardTdp", 0);
    </script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>